.column {
    display: flex;
    flex-direction: column;

}

.row {
    display: flex;
    flex-direction: row;
}

.center {
    align-items: center;
    justify-content: center;
}

.flex-start {
    justify-content: flex-start;
    align-items: flex-start;
}

html {
    padding: 0 !important;
    margin: 0 !important;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #4065b4;
}

.content {
    width: 100%;
    height: 100vh;
    background-color: #eaecef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post {
    width: 350px;
    padding: 5px;
    background-color: #ffffff;
}

.post-header {
    width: 330px;
}

.post-header img {
    margin-right: 5px;
}

.post-body p, .post-body img {
    width: 330px;
    margin: 5px 0;
}